@use './colors';

#cv {
  display: grid;
  grid-template-columns: minmax(min-content, 25em) 1fr;
  grid-template-rows: minmax(min-content, 13em) 1fr;
  height: 1056px;
  width: 70em;
  border: 1px colors.$gray solid;
  gap: 25px;
  background-color: colors.$white;
}

#header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  grid-column: 2;
  grid-row: 1;
}

.name {
  font-size: 50px;
  span {
    color: colors.$blue;
    font-weight: bold;
  }
}

.title {
  font-size: 20px;
}

.name, .title {
  letter-spacing: 2px;
}

.header {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 25px;
}

.line {
  border: 0.5px solid colors.$white;
}

#work-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  grid-column: 2;
  grid-row: 2;
  color: colors.$gray;
  
  .line {
    border: 1px solid colors.$blue;
  }
  
  .header {
    color: colors.$blue;
  }
}

#about-me {
  line-height: 1.2;
}

.work {
  display: grid;
  grid-template-columns: minmax(min-content, 90px) 1fr;
  grid-template-rows: repeat(3, min-content);
  row-gap: 5px;
  column-gap: 5px;

  .dates {
    grid-column: 1;
    grid-row: 1 / -1;
  }
  .position {
    grid-column: 2;
    grid-row: 1;
    font-weight: bold;
  }
  .company {
    grid-column: 2;
    grid-row: 2;
    font-style: italic;
  }
  .duties {
    grid-column: 2;
    grid-row: 3;
    list-style: circle;

    li {
      margin-top: 5px;
    }
  }
}