@use './colors';
@mixin theme {
  cursor: pointer;
  background-color: rgba($color: colors.$light-gray, $alpha: 0.5);
  border-radius: 10px;
}

#cv {
  display: grid;
  grid-template-columns: minmax(min-content, 25em) 1fr;
  grid-template-rows: minmax(min-content, 13em) 1fr;
  min-height: 1056px;
  width: 70em;
  border: 1px colors.$gray solid;
  gap: 25px;
  background-color: colors.$white;
}

#side-section, #header, #work-section {
  padding: 20px;
}

#header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  grid-column: 2;
  grid-row: 1;
}

#header:hover {
  @include theme;
}

.name {
  font-size: 50px;
  span {
    color: colors.$blue;
    font-weight: bold;
  }
}

.title {
  font-size: 20px;
}

.name, .title {
  letter-spacing: 2px;
}

.header {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 25px;
}

.line {
  border: 0.5px solid colors.$white;
}

#work-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  grid-column: 2;
  grid-row: 2;
  color: colors.$gray;
  
  .line {
    border: 1px solid colors.$blue;
  }
  
  .header {
    color: colors.$blue;
  }
}

#work-section:hover {
  @include theme;
}

#about-me {
  line-height: 1.2;
}

.work {
  display: grid;
  grid-template-columns: minmax(min-content, 90px) 1fr;
  grid-template-rows: repeat(3, min-content);
  row-gap: 5px;
  column-gap: 5px;

  .dates {
    grid-column: 1;
    grid-row: 1 / -1;
  }
  .position {
    grid-column: 2;
    grid-row: 1;
    font-weight: bold;
  }
  .company {
    grid-column: 2;
    grid-row: 2;
    font-style: italic;
  }
  .duties {
    grid-column: 2;
    grid-row: 3;
    list-style: circle;

    li {
      margin-top: 5px;
    }
  }
}

#header-form {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 200px)) 1fr;
  grid-template-rows: repeat(2, min-content) 1fr;
  column-gap: 60px;
  row-gap: 15px;
  padding-right: 10px;

  .first-name-form {
    grid-column: 1;
    grid-row: 1;
  }

  .last-name-form {
    grid-column: 2;
    grid-row: 1;
  }

  .title-form {
    grid-column: 1;
    grid-row: 2;
  }

  .about-me-form {
    grid-column: 1 / 3;
    grid-row: 3;
  }

  button {
    grid-row: 3;
    grid-column: 3;
    align-self: flex-end;
    justify-self: right;
  }
}

#header-form > div {
  display: flex;
  flex-direction: column;
  gap: 4px;
  label {
    color: colors.$blue;
  }
}

label {
  font-size: 20px;
}

input {
  height: 25px;
}

button {
  width: 80px;
  height: 35px;
}

textarea {
  resize: none;
}