@use '_colors.scss';
@mixin theme {
  background-color: rgba($color: colors.$gray, $alpha: 0.4);
  border-radius: 10px;
  cursor: pointer;
}

#side-section {
  display: flex;
  flex-direction: column;
  grid-column: 1;
  grid-row: 1 / -1;
  background-color: colors.$blue;
  color: colors.$white;
  gap: 50px;
}

#side-section > div {
  padding: 10px;
}

#side-section, #header {
  padding: 20px;
}

#contact-info {
  display: flex;
  flex-direction: column;
  gap: 25px;

  .info {
    display: flex;
    flex-direction: column;
    gap: 2px;

    .label {
      font-weight: bold;
    }
  }
}

#contact-info:hover {
  @include theme;
}

#contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  button {
    align-self: flex-end;
  }
}

#contact-form > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#school-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#school-info:hover {
  @include theme;
}

#schools {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

#schools > li > div {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .degree {
    font-weight: bold;
  }
}

.school-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.school-form > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#school-forms {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .school-form-button {
    align-self: flex-end;
  }
}