#work-forms {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .save-button {
    align-self: flex-end;
  }

  
.add-work {
  align-self: center;
  width: 200px;
}
}

.work-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.work-form > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}